/* Fonts */
/* ------------------------------------ */
$ff-main: "Manrope", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #FFFFFF;
$color-white-smoke: #F5F5F5;
$color-whisper: #E8E8E8;
$color-nero: #171717;
$color-grey: #888888;
$color-dark-gray: #A4A4A4;
$color-dark-gray-2: #AAAAAA;
$color-burnt-orange: #FC6D3E;

/* Breakpoints */
/* ------------------------------------ */
// $vp-mobile: 360px;
// $vp-tablet: 768px;
// $vp-desktop: 1024px;
// $vp-desktop-lg: 1304px;

/* Animations */
$transition-ease-in: ease-in;
$transition-300-ease-in: 0.3s $transition-ease-in;