@use '../global/variables';

.track {
    $root: &;
    padding: 13px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 30px minmax(200px, 1fr) minmax(75px, 254px) minmax(60px, 187px) 36px 48px 25px;
    gap: 8px;
    cursor: pointer;
    transition: background-color variables.$transition-200-ease-in;

    &:hover {
        background-color: variables.$color-white-smoke;

        #{$root}__play-icon {
            opacity: 1;
        }
    }

    &__id {
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0.2px;
    }

    &__title-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;
    }

    &__play-btn {
        position: relative;
        flex-shrink: 0;
    }

    &__img {
        width: 60px;
        height: 60px;
    }

    &__play-icon {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: variables.$color-burnt-orange;
        transition: opacity variables.$transition-200-ease-in;
    }

    &__play-icon-el {
        color: variables.$color-white;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 0;
    }

    &__title {
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.14px;
        position: relative;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover::before {
            width: 100%;
        }

        &::before {
            content: '';
            height: 1px;
            background-color: variables.$color-nero;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 0;
            transition: width variables.$transition-300-ease-in;
        }
    }

    &__artist {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.12px;
        color: variables.$color-dark-gray-2;
        position: relative;
        width: fit-content;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        &:hover::before {
            width: 100%;
        }

        &::before {
            content: '';
            height: 1px;
            background-color: variables.$color-dark-gray-2;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 0;
            transition: width variables.$transition-300-ease-in;
        }
    }

    &__album {
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.14px;
        position: relative;
    }

    a#{$root}__album {
        &:hover::before {
            width: 100%;
        }

        &::before {
            content: '';
            height: 1px;
            background-color: variables.$color-nero;
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 0;
            transition: width variables.$transition-300-ease-in;
        }
    }

    &__date {
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.14px;
        color: variables.$color-dark-gray-2;
    }

    &__fav-btn {
        padding: 0 8px 0 0;

        &:hover {
            #{$root}__fav-icon {
                opacity: 0.7;
            }
        }
    }

    &__fav-icon {
        color: variables.$color-burnt-orange;
        width: 24px;
        height: 24px;
        transition: opacity variables.$transition-300-ease-in;
    }

    &__duration {
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.14px;
        color: variables.$color-dark-gray-2;
    }

    &__options-btn {
        position: relative;

        &:hover {
            #{$root}__options-icon {
                color: variables.$color-nero;
            }
        }

        &::before {
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__options-icon {
        color: variables.$color-light-gray;
        width: 23px;
        height: 4px;
        transition: color variables.$transition-300-ease-in;
    }
}