@use "mixins";
@use "variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: variables.$ff-main;
  font-style: normal;
  font-weight: 400;
  color: variables.$color-nero;
  margin: 0;
  padding: 0;
  background-color: variables.$color-white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 70px 0 0 0;
  flex-grow: 1;
  position: relative;

  // @include mixins.vp-768 {
  //   padding: 80px 0 0 0;
  // }

  // @include mixins.vp-1024 {
  //   padding: 72px 0 0 0;
  // }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: variables.$color-nero;
  text-decoration: none;
}