@use "../global/variables";

.header {
    padding: 15px 30px 0;
    display: grid;
    grid-template-columns: 259px 1fr;
    gap: 45px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: variables.$color-white;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 246px;
        gap: 30px;
    }

    &__link-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 34px 15px 0;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }

    &__link-icon {
        width: 184px;
        height: 30px;
    }
}