@use "../global/variables";

.tracks-table {
    &__head {
        display: grid;
        align-items: center;
        border-bottom: 1px solid variables.$color-whisper;
        padding: 10px 8px;
        grid-template-columns: 30px minmax(200px, 1fr) minmax(75px, 254px) minmax(60px, 187px) 36px 48px 25px;
        gap: 8px;
    }

    &__head-text {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: variables.$color-dark-gray;
    }

    &__icon {
        width: 16px;
        height: 16px;
        color: variables.$color-dark-gray;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    &__item {
        border-bottom: 1px solid variables.$color-whisper;
    }
}